<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:th="https:/www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" content="text/html">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
		<link th:href="@{/style.css}" rel="stylesheet">
		<title>削除確認画面</title>
	</head>
	<body>
		<header class="navbar sticky-top bg-dark d-flex">
			<nav class="container text-white">
				<div>勤怠管理くん</div>
				<div>
					社員ID: <span th:text="${loginUserId}"></span>  |  <a th:href="@{/logout}">ログアウト</a>
				</div>
			</nav>
		</header>
		<main class="container">
			<h1>アカウント削除</h1>
			<p>このアカウントを削除しますか？</p>
			<form method="post" action="/admin/delete-user" th:object="${form}">
				<div class="mb-3">
					<label for="accountId">社員ＩＤ</label>
					<input type="text" class="form-control" th:field="*{accountId}" readonly>
				</div>
				<div class="mb-3">
					<label for="name">名前</label>
					<input type="text" class="form-control" th:field="*{name}" disabled>
				</div>
				<div class="mb-3">
					<label for="age">年齢</label>
					<input type="number" class="form-control" th:field="*{age}" disabled>
				</div>
				<div class="mb-3">
					<label for="sex">性別</label>
					<input type="text" class="form-control" th:field="*{sex}" disabled>
				</div>
				<div class="mb-3">
					<label for="address">住所</label>
					<input type="text" class="form-control" th:field="*{address}" disabled>
				</div>
				
				<div class="mb-3">
					<label for="name">電話番号</label>
					<input type="text" class="form-control" th:field="*{phone}" disabled>
				</div>
				<div class="mb-3">
					<label for="joinedDate">入社日</label>
					<input type="date" class="form-control" th:field="*{joinedDate}" disabled>
				</div>
				<input type="submit" class="btn btn-danger" value="削除">
				<a th:href="@{/admin/search-user}" class="btn btn-secondary">キャンセル</a>
			</form>

		</main>
		<footer>
		</footer>
	</body>
</html>