<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:th="https:/www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" content="text/html">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
		<link th:href="@{/style.css}" rel="stylesheet">
		<title>勤怠登録画面</title>
	</head>
	<body>
		<header class="navbar sticky-top bg-dark d-flex">
			<nav class="container text-white">
				<div>
					<a th:href="@{/home}">勤怠管理くん</a>
			    </div>
				<div>
					社員ID: <span th:text="${loginUserId}"></span>  |  <a th:href="@{/logout}">ログアウト</a>
				</div>
			</nav>
		</header>
		<main class="container">
			<h1>勤怠登録</h1>
			<form method="post" action="/user/clockin" th:object="${form}">
				<input type="hidden" class="form-control" th:field="*{id.accountId}">
				<input type="hidden" class="form-control" th:field="*{id.workingDay}">
				<div class="mb-3">
					<label>日付</label>
					<p th:text="*{id.workingDay}">
				</div>
				<div class="mb-3">
					<label for="workingStatus">勤怠</label>
					<input type="text" class="form-control" th:field="*{workingStatus}" readonly>
				</div>
				<div class="mb-3">
					<label for="attendTime">出勤時刻</label>
					<input type="time" class="form-control" name="attendTime" th:value="${form.attendTime != null ? #temporals.format(form.attendTime, 'HH:mm') : ''}">
				</div>
				<div class="mb-3">
					<label for="leaveTime">退勤時刻</label>
					<input type="time" class="form-control" name="leaveTime" th:value="${form.leaveTime != null ? #temporals.format(form.leaveTime, 'HH:mm') : ''}">
				</div>
				<div class="mb-3">
					<label for="breaktime">休憩時間</label>
					<input type="time" class="form-control" name="breaktime" th:value="${form.breaktime != null ? #temporals.format(form.breaktime, 'HH:mm') : ''}">
				</div>
				<div class="mb-3">
					<label for="stepout">中抜け</label>
					<input type="time" class="form-control" name="stepout" th:value="${form.stepout != null ? #temporals.format(form.stepout, 'HH:mm') : ''}">
				</div>
				<input class="btn btn-primary" type="submit" value="保存">
				<a href="/home" class="btn btn-secondary">キャンセル</a>
			</form>
		</main>
		<footer>
		</footer>
	</body>
</html>