<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:th="https:/www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" content="text/html">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
		<link th:href="@{/style.css}" rel="stylesheet">
		<title>ホーム</title>
	</head>
	<body>
		<header class="navbar sticky-top bg-dark d-flex">
			<nav class="container text-white">
				<div>勤怠管理くん</div>
				<div>
					社員ID: <span th:text="${loginUserId}"></span>  |  <a th:href="@{/logout}">ログアウト</a>
				</div>
			</nav>
		</header>
		<main class="container">
			<h1>ホーム画面</h1>
			<div>
				<p>ユーザー向け</p>
				<p>
					<a th:href="@{/}">出勤する</a> | 
					<a th:href="@{/}">退勤する</a> | 
					<a th:href="@{/}">編集する</a> | 
					<a th:href="@{/}">休暇申請</a> | 
					<a th:href="@{/}">変更申請</a> | 
					<a th:href="@{/user/edit-profile}">アカウント編集</a> | 
					<a th:href="@{/user/edit-password}">パスワード変更</a>
				</p>
			</div>
			<div sec:authorize="hasRole('ROLE_ADMIN')">
				<p>管理者</p>
				<p>
					<a th:href="@{/}">休暇申請一覧</a> | 
					<a th:href="@{/}">変更申請一覧</a> | 
					<a th:href="@{/admin/search-user}">社員検索</a> | 
					<a th:href="@{/admin/add-user}">社員を登録する</a>
				</p>
			</div>
		</main>
		<footer>
		</footer>
	</body>
</html>