<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:th="https:/www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" content="text/html">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
		<link th:href="@{/style.css}" rel="stylesheet">
		<title>ホーム</title>
	</head>
	<body>
		<header class="navbar sticky-top bg-dark d-flex">
			<nav class="container text-white">
				<div>
					<a th:href="@{/home}">勤怠管理くん</a>
			    </div>
				<div>
					社員ID: <span th:text="${loginUserId}"></span>  |  <a th:href="@{/logout}">ログアウト</a>
				</div>
			</nav>
		</header>
		<main class="container">
			<h1>ホーム画面</h1>
			<div>
				<h2>メニュー</h2>
				<ul>
					<li><a th:href="@{/user/clockin}">勤怠登録</a></li>
					<li><a th:href="@{/user/timesheet}">勤務表</a></li>
					<li><a th:href="@{/user/request/dayoff}">休暇申請</a></li>
					<li><a th:href="@{/user/request/change}">変更申請</a></li>
					<li><a th:href="@{/user/edit-profile}">プロフィール変更</a></li>
					<li><a th:href="@{/user/edit-password}">パスワード変更</a></li>
				</ul>
			</div>
			<div sec:authorize="hasRole('ROLE_ADMIN')">
				<h2>管理者向け機能</h2>
				<ul>
					<li><a th:href="@{/}">休暇申請一覧</a></li>
					<li><a th:href="@{/}">変更申請一覧</a></li>
					<li><a th:href="@{/admin/search-user}">社員検索</a></li>
					<li><a th:href="@{/admin/add-user}">社員を登録する</a></li>
				</ul>
			</div>
		</main>
		<footer>
		</footer>
	</body>
</html>